.notification-bell {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    color: #333;
    transition: transform 0.2s, color 0.2s;
}

.notification-bell:hover {
    transform: scale(1.15);
    color: #E38A18FF; /* naranja lindo */
}

.notification-bell:focus {
    outline: none;
}
