/* src/css/planner.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Elemento del grid de días */
.planner-day {
    @apply tw-relative tw-z-10 tw-m-[-0.5px] tw-aspect-square tw-w-full tw-grow tw-cursor-pointer tw-rounded-xl tw-border tw-font-medium tw-transition-all;
}

.planner-today {
    @apply tw-bg-blue-500 tw-font-semibold tw-text-white;
}

.planner-old-month {
    @apply tw-text-slate-400;
}

.planner-current-month {
    @apply tw-text-slate-800;
}

/* Hover */
.planner-day:hover {
    @apply tw-z-20 tw-border-cyan-400;
}

/* Responsive (manual porque @apply no soporta sm:, lg:...) */
@media (min-width: 640px) {
    .planner-day {
        margin: -1px;
        width: 5rem;
        height: 5rem;
        border-width: 2px;
        border-radius: 1rem;
    }
}

@media (min-width: 1024px) {
    .planner-day {
        width: 9rem;
        height: 9rem;
        border-radius: 1.5rem;
    }
}

@media (min-width: 1536px) {
    .planner-day {
        width: 10rem;
        height: 10rem;
    }
}
