/* src/css/planner.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Elemento del grid de días */
.planner-day {
    @apply relative z-10 m-[-0.5px] aspect-square w-full grow cursor-pointer rounded-xl border font-medium transition-all;
}

.planner-today {
    @apply bg-blue-500 font-semibold text-white;
}

.planner-old-month {
    @apply text-slate-400;
}

.planner-current-month {
    @apply text-slate-800;
}

/* Hover */
.planner-day:hover {
    @apply z-20 border-cyan-400;
}

/* Responsive (manual porque @apply no soporta sm:, lg:...) */
@media (min-width: 640px) {
    .planner-day {
        margin: -1px;
        width: 5rem;
        height: 5rem;
        border-width: 2px;
        border-radius: 1rem;
    }
}

@media (min-width: 1024px) {
    .planner-day {
        width: 9rem;
        height: 9rem;
        border-radius: 1.5rem;
    }
}

@media (min-width: 1536px) {
    .planner-day {
        width: 10rem;
        height: 10rem;
    }
}