.MainContainer {
    width: 393px;
    height: 852px;
    margin: 0 auto; /* centra horizontalmente */
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #ffffff;
    border-radius: 20px;
}