@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FFFFFF;
    font-family: 'Plus Jakarta Sans', serif;

}
.form-container{
    background-color: aqua;
    width: 450px;
    padding: 2rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border-radius: 5px;

}
.form-container h2{
    display: block;
    text-align: center;
    width: 343px;
    position: relative;
    font-size: 45px;
    line-height: 50px;
    font-family: 'Plus Jakarta Sans';
    color: #000;
    text-align: left;
    height: 105px;
}
.form-container h3{
    width: 279px;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 20px;
    font-family: Inter;
    color: #49454f;
    text-align: left;
    display: inline-block;
}

.form-container form{
    margin: 2rem 0;
}

.form-control{
    position: relative;
}

.form-control input{
    width: 100%;
    border: 1px solid #ddd;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
    margin-bottom:  1rem;
    border-radius: 5px;
}

.form-control .Icon{
    position: absolute;
    left: 06px;
    top: 12px;
    font-size: 1.5rem;
}

form button{
    width: 100%;
    position: relative;
    border-radius: 50px;
    background-color: #d9d9d9;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 15px;
    color: #000;
    font-family: Inter;
    cursor: pointer;
}
form button:active{
    transform: scale(0.98);
}